body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  margin: 0;
  padding: 20px;
  height: max-content;
  /* background: linear-gradient(45deg, #4FB0C6, #4F86C6); */
  /* background: rgb(101,66,126); */
  /* background: linear-gradient(149deg, rgba(101,66,126,1) 0%, rgba(255,68,48,1) 50%, rgba(255,253,137,1) 100%); */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
.form-container {
  background: #fff;
  padding: 40px;
  max-width: 900px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(9 9 6);
  position: relative;
  top: 50px;
}
.step {
  display: none;
}
.step.active {
  display: block;
}
.step-indicator {
  margin-bottom: 20px;
}
.step-indicator div {
  width: 20%;
  padding: 10px;
  text-align: center;
  border-radius: 30px;
  background-color: #e70fc6;
  color: #fff
}
.step-indicator .active {
  background-color: #77e483f5;
  color: #fff;
}
.form-buttons {
  display: flex;
  justify-content: space-between;
}
button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #e314c4;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #021b2c;
}

label{
  font-weight: bold;
}

.error{
  color: red;
  display: none;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}
